@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
  font-family: 'Roboto Mono', monospace;
  background: #212121;
  height: 100%;
    font-weight: bolder;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {

  font-size: 38px;
/*    font-family: cursive;*/
  color: #fafafa;
}
.dud {
  color: #757575;
}
